<!DOCTYPE html>
{% extends 'posts/list_base.html' %}


  {% block list_desc %}

    {% if userProfileName %}
      <br>
      <h2 class="glow-head">POSTS</h2>
      <h3><a href="#">@{{ userProfileName }}</a></h3>
    {% else %}
    <h2>Welcome Back!
      <br>
    </h2>
    <br>
    <h2 class="glow-head">POSTS</h2>
    <h2><a href="#">@{{ user.username }}</a></h2>
    <br>
    <a href="{% url 'posts:createPost' %}" class="btn btn-lg btn-outline-warning">Create New Post</a>
    {% endif %}

  {% endblock %}

  {% block list_content %}

    {% if object_list.count == 0 %}
      <h3>No Posts Yet!!!</h3>
    {% else %}
      <div class="row">
      {% for post in object_list %}

          <div class="col-lg-12">
            <h4>{{ post.message }}</h4>
            <p class="date">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ post.createdAt }}</p>
            {% if not userProfileName %}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a class="btn btn-sm btn-outline-danger" href="{% url 'posts:deletePost' pk=post.pk %}">Delete</a>
            {% endif %}
            <br><br>
            <hr>
            <br><br>
          </div>

      {% endfor %}
    {% endif %}
    </div>

  {% endblock %}
