<!DOCTYPE html>
{% extends 'base.html' %}

  {% block content %}

  <!-- {% if user.is_authenticated %}
    <div class="jumbotron text-center">
      <h1>Hey {{ user.username | title }} !!</h1>
    </div>
  {% endif %} -->

  <h1 class="text-center glow-head">
    {% if user.is_authenticated %}
      Hey {{ user.username | title }} !!
    {% endif %}
    Welcome to Social Star !!!</h1>

  <canvas id="canvas"></canvas>

  {% load staticfiles %}

  <script src="{% static "simplesocial/js/master.js"%}" type="text/javascript" ></script>

  <!-- Latest compiled and minified jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <style media="screen">
    body{
      overflow: hidden;
    }
  </style>


  {% endblock %}
